<title>Flexbox Matrices Jeremy Catota</title>
  <link rel="stylesheet" href="https://unpkg.com/primeflex@3.3.0/primeflex.css">
  <style>
    .box {
      border: 1px solid #000;
      text-align: center;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100px;
      box-sizing: border-box;
     
    }
    .matrix-5x5 {
      display: grid;
      grid-template-columns: repeat(5, 1fr); /* 5 columnas de igual tamaño */
      background-color: firebrick;
    }
    .matrix-5x5 .box {
      
      background-color: firebrick;
    }
    .matriz-3x3 .box{
    
      background-color: aquamarine;
    }
    .matriz-4x4 .box{
      background-color: lightblue;
    }
    .matriz-6x6 .box{
      
      background-color: blueviolet;
    }
  </style>
  <body>
    <h1></h1>
    <div class="matriz-3x3">
        <div class="grid justify-content-center align-items-center">
          <div class="col-12 lg:col-5 box">
            <div class="p-4 bg-primary">
              5
            </div>
          </div>
        </div>
      </div>
  
    <h1></h1>
    <div class="matriz-4x4">
        
        <div class="grid justify-content-center align-items-center">
            <div class="col-12 sm:col-6 md:col-4 lg:col-3">
              <div class="p-4 bg-primary box">
                3
              </div>
            </div>
      
            
            <div class="col-12 sm:col-12 md:col-4 lg:col-5"></div>
      
            
            <div class="col-12 sm:col-6 md:col-4 lg:col-4">
              <div class="p-4 bg-secondary text-white text-center box">
                4
              </div>
            </div>
          </div>
        
    </div>
    
  
    <h1></h1>
     <div class="matriz-8x8">
    <div class="grid justify-content-center align-items-center">
      
      <div class="col-12 sm:col-6 md:col-3 lg:col-1">
        <div class="p-4 bg-primary box">
          1
        </div>
      </div>
      
      
      <div class="col-12 sm:col-6 md:col-3 lg:col-1">
        <div class="p-4 bg-secondary box">
          2
        </div>
      </div>

      
      <div class="col-12 sm:col-6 md:col-3 lg:col-1">
        <div class="p-4 bg-success box">
          3
        </div>
      </div>

     
      <div class="col-12 sm:col-6 md:col-3 lg:col-1">
        <div class="p-4 bg-warning box">
          4
        </div>
      </div>

      
      <div class="col-12 sm:col-6 md:col-3 lg:col-1">
        <div class="p-4 bg-info box">
          5
        </div>
      </div>

      
      <div class="col-12 sm:col-6 md:col-3 lg:col-1">
        <div class="p-4 bg-dark box">
          6
        </div>
      </div>

      
      <div class="col-12 sm:col-6 md:col-3 lg:col-1">
        <div class="p-4 bg-primary box">
          7
        </div>
      </div>

    
      <div class="col-12 sm:col-6 md:col-3 lg:col-1">
        <div class="p-4 bg-secondary box">
          8
        </div>
      </div>
    </div>
  </div>
  
    <h1></h1>
    <div class="matriz-6x6">
        <div class="grid justify-content-end">
            <div class="col-12 sm:col-6 md:col-4 lg:col-3">
              <div class="p-4 bg-primary box">
                3 
              </div>
            </div>
          </div>
    </div>
  </body>

  <h1></h1>
  <div class="matriz-7x7">
    <div class="grid">
        <!-- Cuadro de la izquierda (2 columnas) -->
        <div class="col-12 sm:col-6 md:col-4 lg:col-2">
          <div class="p-4 bg-primary box">
            2
          </div>
        </div>
    
        <!-- Espacio en el centro (opcional) para separar los cuadros -->
        <div class="col-12 sm:col-6 md:col-4 lg:col-8"></div>
    
        <!-- Cuadro de la derecha (2 columnas) -->
        <div class="col-12 sm:col-6 md:col-4 lg:col-2">
          <div class="p-4 bg-secondary box">
            2
          </div>
        </div>
      </div>
  </div>
  <h1></h1>
  <div class="matriz-2x2">
    <body>
       
        
        <div class="grid justify-content-center">
          
          <div class="col-12 sm:col-6 md:col-6 lg:col-6">
            <div class="p-4 bg-primary box">
             6 
            </div>
          </div>
        </div>
      </body>
      
  </div>
<a routerLink="/deberes">Volver a la lista de Deberes</a>