<title>Flexbox Matrices Jeremy Catota</title>
  <link rel="stylesheet" href="https://unpkg.com/primeflex@3.3.0/primeflex.css">
  <style>
    .box {
      border: 1px solid #000;
      text-align: center;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100px;
      box-sizing: border-box;
     
    }
    .len {
      
      background-color: firebrick;
    }
    .matrix-5x5 .box {
      
      background-color: firebrick;
    }
    .matriz-3x3 .box{
    
      background-color: aquamarine;
    }
    .non{
      background-color: rgb(13, 114, 148);
    }
    .pep{
      
      background-color: blueviolet;
    }
    .ji{
      background-color: rgb(134, 35, 105);
    }
  </style>
  <body>
    <h1></h1>
    <div class="grid matriz-3x3 justify-content-center align-items-center">
      <div class="col-12 sm:col-6 md:col-4 lg:col-2">
        <div class="box">
          5
        </div>
      </div>
    </div>
  
      

    <div class="grid matriz-4x4 align-items-center"> 
        <div class="col-6 sm:col-6 md:col-4 lg:col-3">
          <div class="non">
            <div class="box">
              3
            </div>
          </div>
        </div>
  
        <div class="col-6 sm:col-6 md:col-4 lg:col-3 ml-auto">
    
          <div class="non">
            <div class="box">
              4
            </div>
          </div>
        </div>
    </div>
    
  <h1></h1>
    <div class="matriz-8x8">
      <div class="grid justify-content-center align-items-center">
       
        <div class="col-6 sm:col-6 md:col-2 lg:col-1">
          <div class="len">
            <div class="p-4 bg-primary box">
              1
            </div>
          </div>
        </div>
      
        <div class="col-6 sm:col-6 md:col-2 lg:col-1">
          <div class="len">
            <div class="p-4 bg-primary box">
              2
            </div>
          </div>
        </div>
    
        
        <div class="col-6 sm:col-6 md:col-2 lg:col-1">
          <div class="len">
            <div class="p-4 bg-primary box">
              3
            </div>
          </div>
        </div>
    
        
        <div class="col-6 sm:col-6 md:col-2 lg:col-1">
          <div class="len">
            <div class="p-4 bg-primary box">
              4
            </div>
          </div>
        </div>
    
        
        <div class="col-6 sm:col-6 md:col-2 lg:col-1">
          <div class="len">
            <div class="p-4 bg-primary box">
              5
            </div>
          </div>
        </div>
    
        
        <div class="col-6 sm:col-6 md:col-2 lg:col-1">
          <div class="len">
            <div class="p-4 bg-primary box">
              6
            </div>
          </div>
        </div>
    
        
        <div class="col-6 sm:col-6 md:col-2 lg:col-1">
          <div class="len">
            <div class="p-4 bg-primary box">
              7
            </div>
          </div>
        </div>
    
        
        <div class="col-6 sm:col-6 md:col-2 lg:col-1">
          <div class="len">
            <div class="p-4 bg-primary box">
              8
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <h1></h1>
    <div class="matriz-6x6">
        <div class="grid justify-content-end">
            <div class="col-12 sm:col-6 md:col-4 lg:col-3">
              <div class="ji">
                <div class="p-4  box">
                  3 
                </div>
              </div>
            </div>
          </div>
    </div>
  </body>

  <h1></h1>
  <div class="matriz-7x7">
    <div class="grid">
      
      <div class="col-6 sm:col-6 md:col-4 lg:col-1 justify-content-end">
        <div class="pep">
          <div class="p-4  box">
            2
          </div>
        </div>
      </div>
  
      
      <div class="col-6 sm:col-0 md:col-4 lg:col-10"></div>
  
      
      <div class="col-6 sm:col-6 md:col-4 lg:col-1 justify-content-end">
        <div class="pep">
          <div class="p-4 bg-secondary box">
            2
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1></h1>
  <div class="matriz-2x2">
    <body>
       
        
        <div class="grid justify-content-center">
          
          <div class="col-12 sm:col-6 md:col-6 lg:col-6">
            <div class="p-4  box">
             6 
            </div>
          </div>
        </div>
      </body>
      
  </div>
<a routerLink="/deberes">Volver a la lista de Deberes</a>