<p-card header="Card Con PrimeNG" subheader="usar una imagen y poner unos botones ">
  <ng-template pTemplate="content">
    <img src="https://lp-cms-production.imgix.net/2019-06/77186995.jpg?fit=crop&q=40&sharp=10&vib=20&auto=format&ixlib=react-8.6.4" alt="Descripción de la imagen" style="max-width: 100%; height: auto;">
    mira quito que hermoso 
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton label="Aceptar" class="p-button-success p-button-lg"></button>
    <button type="button" pButton label="Cancelar" class="p-button-danger p-button-lg"></button>
  </ng-template>
</p-card>
<a routerLink="/deberes">Volver a la lista de Deberes</a>
