<div class="card">
  <div class="buttons-row">
   
    <button pButton type="button" label="Formulario 1" class="p-button-primary" (click)="toggleForm(1)"></button>
    <button pButton type="button" label="Formulario 2" class="p-button-success" (click)="toggleForm(2)"></button>
    <button pButton type="button" label="Formulario 3" class="p-button-info" (click)="toggleForm(3)"></button>
  </div>

  
  <div class="forms-row">
    
    <div *ngIf="visibleForm === 1" class="form-container">
      <h2>Formulario 1</h2>
      <form (ngSubmit)="onSubmit('Formulario 1')" #form1="ngForm">
        <div class="field">
          <label for="name1">Nombre</label>
          <input
            id="name1"
            type="text"
            pInputText
            placeholder="Nombre"
            [(ngModel)]="form1Data.name"
            name="name1"
          />
        </div>
        <button pButton type="submit" label="Enviar" class="p-button-success"></button>
      </form>
    </div>

    
    <div *ngIf="visibleForm === 2" class="form-container">
      <h2>Formulario 2</h2>
      <form (ngSubmit)="onSubmit('Formulario 2')" #form2="ngForm">
        <div class="field">
          <label for="email2">Correo Electrónico</label>
          <input
            id="email2"
            type="email"
            pInputText
            placeholder="Correo"
            [(ngModel)]="form2Data.email"
            name="email2"
          />
        </div>
        <button pButton type="submit" label="Enviar" class="p-button-success"></button>
      </form>
    </div>

   
    <div *ngIf="visibleForm === 3" class="form-container">
      <h2>Formulario 3</h2>
      <form (ngSubmit)="onSubmit('Formulario 3')" #form3="ngForm">
        <div class="field">
          <label for="phone3">Teléfono</label>
          <input
            id="phone3"
            type="tel"
            pInputText
            placeholder="Teléfono"
            [(ngModel)]="form3Data.phone"
            name="phone3"
          />
        </div>
        <button pButton type="submit" label="Enviar" class="p-button-success"></button>
      </form>
    </div>
  </div>
</div>

<a routerLink="/deberes">Volver a la lista de Deberes</a>