<div class="p-fluid">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <div class="field">
      <label for="inputText">Texto</label>
      <input id="inputText" type="text" pInputText formControlName="inputText" />
    </div>

    
    <div class="field">
      <label for="inputNumber">Número</label>
      <p-inputNumber id="inputNumber" formControlName="inputNumber"></p-inputNumber>
    </div>

    
    <div class="field">
      <label for="dropdown">Seleccionar</label>
      <p-dropdown 
        id="dropdown" 
        [options]="dropdownOptions" 
        formControlName="dropdown" 
        placeholder="Seleccionar"></p-dropdown>
    </div>

    
    <div class="field">
      <div class="field">
        <label for="multiSelect">Seleccionar Múltiple</label>
        <p-multiSelect 
          id="multiSelect" 
          [options]="dropdownOptions" 
          formControlName="multiSelect"
          placeholder="Selecciona una o varias opciones">
        </p-multiSelect>
      </div>

    </div>
    

    
    <div class="field">
      <label for="calendar">Fecha</label>
      <p-calendar id="calendar" formControlName="calendar"></p-calendar>
    </div>

    
    <div class="field-checkbox">
      <p-checkbox 
        id="checkbox" 
        label="Acepto los términos" 
        formControlName="checkbox"></p-checkbox>
    </div>

    
    <div class="field-radiobutton" *ngFor="let option of radioOptions">
      <p-radioButton 
        [value]="option" 
        name="radio" 
        formControlName="radio" 
        [label]="option"></p-radioButton>
    </div>

   
    <div class="field">
      <label for="switch">Interruptor</label>
      <p-inputSwitch id="switch" formControlName="switch"></p-inputSwitch>
    </div>

    
    <div class="field">
      <label for="textarea">Texto Largo</label>
      <textarea id="textarea" pInputTextarea formControlName="textarea"></textarea>
    </div>

    
    <p-fileUpload
      name="demoFile"
      customUpload="true"
      (onSelect)="form.get('fileUpload')?.setValue($event.files[0])">
    </p-fileUpload>


    
    <div class="field">
      <button pButton type="submit" label="Enviar" icon="pi pi-check"></button>
    </div>
  </form>
</div>
<a routerLink="/deberes">Volver a la lista de Deberes</a>